@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
}

.container {
    position: relative;
    width: 1440px;
    height: 900px;
    background: rgba(255, 255, 255, 0.9);
}